
body,h1,h2,h3,h4{
	margin: 0;
}
ul{
	margin: 0;
    padding-left:20px;

	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
img{
	vertical-align: top;
}
/*tool*/
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
html{
    position: relative;
}
body{
    background: #000000;
}
.box{
    width: 1200px;
    height: 710px;
    background: #fff;
    margin: 50px auto;
    border-radius: 20px;
}
.box .top{
    height: 70px;
}
.logo{
    float: left;
    width: 136px;
    height: 36px;
    margin-top:18px;
    margin-left:28px;
}
.top .top-right{
    width: 102px;
    height: 36px;
    float: right;
    margin-right:39px;
    margin-top:18px;
}
.top-right .shezhi{
    width: 31px;
    height: 24px;
    float: right;
    margin-top:6px;
    background: url(../img/set.jpg) no-repeat 13px 4px;
    border-left:1px solid #e4e5e7;
}
.top-right .xiala{
    width: 34px;
    height: 36px;
    float: right;
    background: url(../img/jt.jpg) no-repeat 8px 17px;
}
.top-right .touxiang{
    width: 36px;
    height: 36px;
    float: left;
    background: url(../img/user-ico.jpg) no-repeat;
}
.nav{
    height: 58px;
    background: #ecf1f7;
    border-top:1px solid #d1d9db;
    border-bottom:1px solid #d1d9db;
}
.nav .nav-1{
    width: 108px;
    height: 36px;
    float: left;
    margin-left:20px;
    margin-top:10px;
    background: #Ffffff url(../img/download.png) no-repeat 20px 9px;
    border:1px solid #d6d9de;
    border-radius: 5px;
}
.nav-1 a{
    float: left;
    font: 14px/36px "微软雅黑";
    text-indent: 55px;
    color:#6c7d87;
}
.nav .nav-2{
    width: 108px;
    height: 36px;
    float: left;
    margin-left:10px;
    margin-top:10px;
    background: #Ffffff url(../img/fenxiang.png) no-repeat 20px 9px;
    border:1px solid #d6d9de;
    border-radius: 5px;
}
.nav-2 a{
    float: left;
    font: 14px/36px "微软雅黑";
    text-indent: 55px;
    color:#6c7d87;
}
.nav-5 a{
    float: left;
    font: 14px/36px "微软雅黑";
    text-indent: 55px;
    color:#6c7d87;
}
.nav .nav-3{
    background: #Ffffff url(../img/move.png) no-repeat 20px 9px;
}
.nav .nav-4{
    width: 108px;
    height: 36px;
    float: left;
    margin-left:10px;
    margin-top:10px;
    border:1px solid #d6d9de;
    border-radius: 5px;
    background: #Ffffff url(../img/ming.png) no-repeat 20px 9px;
}
.nav-4 a{
    float: left;
    font: 14px/36px "微软雅黑";
    text-indent: 55px;
    color:#6c7d87;
}
.nav .nav-5{
    width: 108px;
    height: 36px;
    float: left;
    margin-left:10px;
    margin-top:10px;
    background: #Ffffff url(../img/delete.png) no-repeat 20px 9px;
    border:1px solid #d6d9de;
    border-radius: 5px;
    
}
.nav .nav-6{
    height: 36px;
    float: left;
    margin-left:10px;
    margin-top:10px;
    border:1px solid #d6d9de;
    border-radius: 5px;
    width: 152px;
    background: #Ffffff url(../img/create.png) no-repeat 20px 9px;
}
.nav .nav-7{
    width: 36px;
    height: 36px;
    float: left;
    margin-left:10px;
    margin-top:10px;
    border:1px solid #d6d9de;
    border-radius: 5px;
    background:  #Ffffff url(../img/refresh.png) no-repeat center;
}
.nav .nav-right{
    width: 106px;
    height: 58px;
    float: right;
    margin-right:20px;
}
.nav-right .nav-right1{
    width: 56px;
    height: 36px;
    margin-top:10px;
    border:1px solid #d6d9de;
    float: right;
    border-radius: 5px;
    margin-left:10px;
    background:  #Ffffff url(../img/sort_type.png) no-repeat 10px 10px;
}
.nav-right1 img{
    margin-top:17px;
    margin-left: 34px;
}
.nav-right .nav-right2{
    width: 36px;
    height: 36px;
    float: left;
    margin-top:10px;
    border:1px solid #d6d9de;
    border-radius: 5px;
    background:  #Ffffff url(../img/ico_type.jpg) no-repeat center;
}

.box .content-left{
    float: left;
    width: 258px;
    height: 580px;
    border-right: 2px solid #e5e6e8;
}
.content-left .weiyun{
    font: 16px/36px "微软雅黑";
    color:#9099a0;
    background: url(../img/folder_jt1.png) no-repeat 20px 17px, url(../img/s_folder1.png) no-repeat 40px 13px;
    text-indent: 62px;
    cursor: pointer;
    
}
/* .weiyun :hover{
    color:blue;
} */
.weiyun .kecheng{ 
    font: 16px/36px "微软雅黑";
    color:#9099a0;
    background: url(../img/folder_jt1.png) no-repeat 48px 17px, url(../img/s_folder1.png) no-repeat 68px 13px;
    text-indent: 90px;
}



/* content -top */
.box .content-top{
    width: 940px;
    height: 48px;
    float: left;
    border-bottom:2px solid #e2e7ea; 
}
.content-top .input{
    width: 15px;
    height: 15px;
    float: left;
    margin-top:15px;
    margin-left: 15px;
    margin-right:27px;
    border: 1px solid #000000;
}
.content-top .active{
    background: url(../img/checked.png) no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin-top:15px;
    margin-left: 15px;
    margin-right:27px;
    border: 1px solid #000000;
}
.content-top .content-top-ul{
    height: 48px;
    width: 880px;
    float: left;
    font:14px/48px "微软雅黑";
    color:#53aae0;
}
.content-top-ul .content-top-div{
    width: 80px;
    height: 48px;
    display: inline-block; 
    background: url(../img/br_jt.png) no-repeat 68px 15px;
    font:14px/48px "微软雅黑";
    text-align: center;
    color:#53aae0;
    cursor: pointer;
}
.content-top-div:hover{
    color:slateblue;
}
.box .content{
    width: 940px;
    height: 530px;
    float: left;
    background: #f6f7fb;
    border-radius: 0 0 20px 0;
}
.content .wenjian{
    width: 178px;
    height: 178px;
    background: #ffffff url(../img/folder-b.png) no-repeat 49px 34px;
    border-radius: 5px;
    float: left;
    border:1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    margin:40px; 
    position: relative;
}
.wenjian:hover{
    border:1px solid #52b0d6;
}
.wenjian .wenjian-span{
    width: 178px;
    float: left;
    font:14px/85px "微软雅黑";
    margin-top:93px;
    text-align: center;
    color:#52b0d6;
}
.editor{
	display: none;
	width:120px;
	height:20px;
    line-height:20px;
    margin-top:120px;
    color:#69737f;
    margin-left:30px;
	text-align: center;
}
.checked{
	border:1px solid #d1d8de;
	background:url(../img/checked.png) no-repeat;
}

.wenjian:hover i{
	border:1px solid #d1d8de;
}
.wenjian:hover span{
	color:#54afdc;
}
.wenjian i{
	cursor: default;
	position: absolute;
	left:10px;
	top:10px;
	width:16px;
	height:16px;
}
.wenjian .checked{
	border:1px solid #d1d8de;
	background: url(../img/checked.png) no-repeat 1px 0;
}
.miaov {
    width: 0px;
    height: 0px;
    border: 1px dashed #000;
    background: #f6f7fb;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
}
.tan{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background: rgb(142, 94, 190);
    position: absolute;
    font:16px/40px "微软雅黑";
    text-align: center;
    top:0;
    left:960px;
    display: none;
}
.tanbox{
    width: 406px;
    height: 416px;
    border: 3px solid #59addc;
    background: #ffffff url(../img/tanbox.gif) no-repeat;
    position: absolute;
    top:275px;
    left:1300px;
    border-radius: 20px ;
    display: none;
    z-index: 9
}
.tanimg{
    float: right;
    margin-top:15px;
    margin-right:15px;
    cursor: pointer;
}
.tandiv{
    width: 358px;
    height: 238px;
    border:1px solid #e9e4e4;
    float: left;
    margin-top:20px;
    margin-left:20px;
    cursor: pointer;
    overflow: auto;
}
.tip{
    float: right;
    margin-top:40px;
    margin-right:0px;
    color:slateblue;
}
.btn{
    width: 184px;
    height: 30px;
    float: left;
    margin-left:114px;
    margin-top:10px; 
}

.tanbtn1{
    width: 80px;
    height: 30px;
    background: #55addb;
    color:#ffffff;
    float: left;
    font: 14px/30px "微软雅黑";
    text-align: center;
    border-radius: 5px ;
    cursor: pointer;
}
.tanbtn2{
    width: 80px;
    height: 30px;
   border:1px solid #55addb;
    color:#000000;
    float: right;
    font: 14px/30px "微软雅黑";
    text-align: center;
    border-radius: 5px ;
    cursor: pointer;
}
.tree-title{
	position: relative;
	margin-bottom:1px;
}
.tree-menu .mimimi,.content .mimimi{
	color:#fff;
	font-size: 30px;
}
.tree-title:hover{
	background: #f1f1f1;
}
.tree-title span{
	display: block;
	padding-left:10px;
	line-height:32px;
	cursor: default;
}
.tree-title i{
	float:left;
	width:16px;
	height:16px;
	margin-top:8px;
	margin-left:12px;
}